.weather-container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    align-items: center;

  }
  
  .button-container {
    height: 100%;
  }

  .appear{
    width: 330px;
    height: 90px;
  }
  
  
  .weather-info {
    margin-top: 20px;
    color:aliceblue;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    margin: 5px 0;
  }
  